*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif; 
    text-decoration: none;
    border: none;
}

html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
}


/* ESTILIZAÇÃO DO CABEÇALHO DE NAVEGAÇÃO LOCALIZADO NO TOPO DO SITE */
nav{
    background-color: #706eff80;
    padding: 11px 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo,
footer .logo{
    display: flex;
    align-items: center;
}

nav .link a{
    color: #ffffff; 
    position: relative; 
    padding-bottom: 0.75em; 
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

/* ESTILIZAÇÃO DO EFEITO OBSERVADO AO PASSAR O MOUSE ACIMA DAS PÁGINAS RELACIONADAS*/
.link a::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(252 215 253);
    transition: all 0.4s ease;
}

.link a:hover::after{
    width: 100%;
}
/*  */

nav .logo a,
footer .logo a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img,
footer .logo img{
    width: 150px;
}

nav ul{
    display: flex;
    gap: 40px;
}

/* ESTILIZAÇÃO DO BOTÃO DISPONÍVEL NO CANTO SUPERIOR DIREITO DA PÁGINA*/
nav button{
    padding: 1rem 2rem;
    font-size: 22px;
    color: #fff;
    background-color: #7e66ff;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 5rem;
    border: none;
}

nav button:hover{
    background-color:  rgb(252 215 253);
}

nav button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}
/*  */

.container{
    max-width: 1200px;
    margin: auto;
    padding: 11px;
}

main{
    display: flex;
    gap: 2rem;
}

.btn{
    padding: 1rem 2rem;
    font-size: 22px;
    color: #fff;
    background-color: #7e66ff;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.btn:hover{    
background-color:  rgb(252 215 253);
}


.bloco h1{
    font-size: 32px;
}

.bloco h2{
   font-family: 'Chelsea Market';
    font-weight: 100;
}

.bloco img{
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-top: 40%;
}

#formularios{
    margin-top: 1rem;
}

#formularios input{ 
    padding: 1rem;   
    border-radius: 10px;
    width: 450px; 
    background: #e6e6e6e0;
    margin-bottom: 12px;
    display: block;
  } 
  
  #formularios .areadetexto{
      border-radius: 10px;
      background: #e6e6e6e0;
      margin-bottom: 12px;
      display: block;
      resize: none; /* "RESIZE: NONE" impossibilita o usuário de expandir o campo de mensagem */
      width: 450px;
      height: 240px;
  }
    
  #formularios label{ font-weight: bolder;}
  
  .botao{
      background-color:#7e66ff;
      border: none;
      border-radius: 6px;
      min-width: 200px;
      min-height: 58px;
      margin-top: 2px;
      color: #ffffff;
      font-weight:bolder;
      font-size: 14px;
      cursor: pointer;  /* "CURSOR: POINTER" faz com que o indicador do mouse mostre que o botão é clicável  */
  }
  
.botao:hover{
      background-color: rgb(33 54 247);
      transition: all 0.8s ease;
  }

.titulos{
    margin-top: 4rem;
    text-align: center;
}

.titulos h3{
    font-size: 38px;
    font-weight: 300;
}

.titulos p{
    font-size: 20px;
    margin-top: 0.3rem;
    font-weight: 500;
}

.blocos-adicionais{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.blocos-adicionais .card{
    background-color: #e6e6e6e0;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
}

/* ESTILIZANDO ÍCONE RETIRADO DO BOOTSTRAP */
.botao-de-email svg{
    width: 28%;
    height: 50%;
    margin-left: 6rem;
}

.blocos-adicionais .card h2{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.blocos-adicionais .card p{
    margin-bottom: 1rem;
    text-align: center;
}

footer{
    background-color: #deebee;
    padding: 85px;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

footer .logo{
    display: flex;
    align-items: center;
}


footer .logo img{
    width: 150px;
}


footer .conteudo-principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer-links{
    display: flex;
    gap: 2rem;
    list-style: none;
}

footer .logo a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

footer .separador{
    width: 100%;
    height: 1px;
    background-color: #282938;
    margin: 30px 0 20px;
}

/* ATRIBUTO "MEDIA QUERIE". USADO PRA ADAPTAR O SITE CONFORME A LARGURA MÁXIMO DE UM DISPOSITIVO. 
EX: A LARGURA MAXIMA(MAX-WIDTH) DE UM DISPOSITIVO É 1200PX. TRABALHE EM CIMA DESSAS TRÊS LARGURAS MÁXIMAS JÁ ESTABELECIDAS. 
PARA QUEM FOR FAZER ESSA PARTE DO TRABALHO, OPTE POR TIRAR IMAGENS QUE NÃO FOREM IMPORTANTES ATRAVÉS DO ATRIBUTO "DISPLAY: NONE". */
@media screen and (max-width: 1200px) {
    
    

}

@media screen and (max-width: 992px) {
    
    nav button{
        display: none;
    }

    nav ul{
        gap: 20px;
    }

    nav ul li a{
        font-size: 15px;
    }

}

@media screen and (max-width: 768px) {
    
     
    nav{
        padding: 11px 85px;
        gap: 15px;
    }

    nav .link a{
        font-size: 13px;
    }

    nav ul{
        display: none;
    }

    nav.open .logo{
        display: none;
    }

    nav.open ul{
        display: flex;
    }

    nav button#menuButton{
        display: flex;
    }

}

@media screen and (max-width: 576px) {
    
    nav{
        padding: 11px 85px;
        gap: 15px;
    }

    nav .link a{
        font-size: 13px;
    }

    nav.open .logo{
        display: none;
    }

    nav.open ul{
        display: flex;
    }

    nav button#menuButton{
        display: flex;
    }

}