*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif; 
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
}


/* ESTILIZAÇÃO DO CABEÇALHO DE NAVEGAÇÃO LOCALIZADO NO TOPO DO SITE */
nav{
    background-color: #706eff80;
    padding: 11px 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo,
footer .logo{
    display: flex;
    align-items: center;
}

nav .link a{
    color: #ffffff; 
    position: relative; 
    padding-bottom: 0.75em; 
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

/* ESTILIZAÇÃO DO EFEITO OBSERVADO AO PASSAR O MOUSE ACIMA DAS PÁGINAS RELACIONADAS*/
.link a::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(252 215 253);
    transition: all 0.4s ease;
}

.link a:hover::after{
    width: 100%;
}
/*  */

nav .logo a,
footer .logo a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img,
footer .logo img{
    width: 150px;
}

nav ul{
    display: flex;
    gap: 40px;
}

/* ESTILIZAÇÃO DO BOTÃO DISPONÍVEL NO CANTO SUPERIOR DIREITO DA PÁGINA*/
nav button{
    padding: 1rem 2rem;
    font-size: 22px;
    color: #fff;
    background-color: #7e66ff;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 5rem;
    border: none;
}

nav button:hover{
    background-color:  rgb(252 215 253);
}

nav button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}
/*  */


.container{
    max-width: 1200px;
    margin: auto;
}

.background{
    background: url(../Imagens/Banner.png);
    width: auto;
    border-radius: 5px;
    height: 264px;
}
    
.textos{
        
    .mainTitle{
        font-size: 60px;
        color: #ffffff;
        margin: 0;
        font-family: 'Chelsea Market', Arial, Helvetica, sans-serif;
        text-align: center;
        padding-top: 75px;
    }
        
    .frase{
        color: #ffffff;
        font-family: 'Chelsea Market', Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 20px;
        }
}
/* FIM DO TOPO E BANNER DO SITE */

header{
    display: flex;
    gap: 2rem;
}

.bloco-1{
    width: auto;
    height: auto;

    
    h2{
        font-size: 39px;
        padding-top: 3%;
        font-family: 'Chelsea Market', Arial, Helvetica, sans-serif;
        font-weight: 100;
    }

    p{
        font-size: 23px;
        margin-top: 3%;
        text-align: justify;
    }
    }

   
.bloco-1 img{
    width: auto;
    height: auto;
    padding-top: 2rem;
}
/*  */


/* COMEÇO DA SEÇÃO DOS BLOCOS DE DOAÇÃO */
/* section .titulo{
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3.25rem;
    font-weight: 100;
    font-family: 'Darumadrop One', Arial, Helvetica, sans-serif;
} */

.titulo{ 
    font-size: 38px;
    font-weight: 300;
    margin-top: 7rem;
    letter-spacing: 1px;
}

.blocos-de-texto{
    margin-top: 2rem;
    display: inline-flex;
    gap: 2rem;
}

.blocos-de-texto .card{
    padding: 3rem 2rem;
    background-color: #9ed7ff6b;
    display: grid;
    border-radius: 15px;
}


.blocos-de-texto .card .content{
    margin-bottom: 2rem;
}

.blocos-de-texto .card h4{
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
}


.blocos-de-texto .card p{
    margin-bottom: 0.75rem;
    line-height: 22px;
}

/* FIM DAS SEÇÕES DOS BLOCOS DE DOAÇÃO */

/* ESTILIZAÇÃO DO BOTÃO DE DOAÇÃO (FEITO COM FRAMEWORK) */
.botao{

    ul{
        list-style: none;
        display: contents;
        position: relative;  
    }

    ul li div{
        position: absolute;
    }

    .icone{
        color: #fff;
        font-size: 2.2em;
        transition: 0.2s;
    }

    .textoBotao{
        color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        transform: scale(0);
        transition: .3s;
        transition-delay: .1s;

    }

    .textoBotao a{
        color: #fff;
        text-decoration: none;
        display: ruby;
    }
    
}

.botao ul li{
    
    width: 60%;
    height: 80px;
    background-color: #8c6fffbd;
    
    display: flex;
    align-items: center;
    
    justify-content: center;
    border-radius: 25px;
    position: relative;

    transition: .3s;
}

.botao ul li:hover{width: 95%;}

ul li:hover .textoBotao{ transform: scale(1);}

ul li:hover .icone{ transform: scale(0);}


footer{
    background-color: #deebee;
    padding: 85px;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

footer .logo{
    display: flex;
    align-items: center;
}


footer .logo img{
    width: 150px;
}


footer .conteudo-principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer-links{
    display: flex;
    gap: 2rem;
    list-style: none;
}

footer .logo a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

footer .separador{
    width: 100%;
    height: 1px;
    background-color: #282938;
    margin: 30px 0 20px;
}


/* ATRIBUTO "MEDIA QUERIE". USADO PRA ADAPTAR O SITE CONFORME A LARGURA MÁXIMO DE UM DISPOSITIVO. 
EX: A LARGURA MAXIMA(MAX-WIDTH) DE UM DISPOSITIVO É 1200PX. TRABALHE EM CIMA DESSAS TRÊS LARGURAS MÁXIMAS JÁ ESTABELECIDAS. 
PARA QUEM FOR FAZER ESSA PARTE DO TRABALHO, OPTE POR TIRAR IMAGENS QUE NÃO FOREM IMPORTANTES ATRAVÉS DO ATRIBUTO "DISPLAY: NONE". */
@media screen and (max-width: 1200px) {
    
    

}

@media screen and (max-width: 992px) {
    
    nav button{
        display: none;
    }

    nav ul{
        gap: 20px;
    }

    nav ul li a{
        font-size: 15px;
    }

}

@media screen and (max-width: 768px) {
    
     
    nav{
        padding: 11px 85px;
        gap: 15px;
    }

    nav .link a{
        font-size: 13px;
    }

    nav ul{
        display: none;
    }

    nav.open .logo{
        display: none;
    }

    nav.open ul{
        display: flex;
    }

    nav button#menuButton{
        display: flex;
    }

}

@media screen and (max-width: 576px) {
    
    nav{
        padding: 11px 85px;
        gap: 15px;
    }

    nav .link a{
        font-size: 13px;
    }

    nav.open .logo{
        display: none;
    }

    nav.open ul{
        display: flex;
    }

    nav button#menuButton{
        display: flex;
    }

}